[Unit]
Description=Run script at startup

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/local/bin/checkn1x_welcome
TimeoutStartSec=0

[Install]
WantedBy=default.target